/* COLORS */
$bg-color: #F0F8FF;
$textarea-bgColor: rgb(176, 215, 253);
$textarea-color: rgb(7, 27, 46);
$wrapper: rgb(20, 91, 161);
$bgTextArea: rgb(150, 180, 211);
$key-border: #ffffff;
$key-shadow:rgba(4, 4, 8, 0.4);
$key-hover: rgb(30, 91, 151);
$key-active: rgb(117, 76, 184);
/* FONTS */
$main-font: 'Roboto Medium';